<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Message</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @adoption_requests.each do |request| %>
      <tr>
        <td><%= request.user.email %></td>
        <td><%= request.date %></td>
        <td><%= request.message %></td>
        <td><%= request.status %></td>
        <td>
          <%= form_for(request, url: adopt_path(request), method: :patch) do |f| %>
            <%= f.hidden_field :status, value: 'approved' %>
            <%= f.submit "Approve", class: "btn btn-success" %>
          <% end %>
          <%= form_for(request, url: adopt_path(request), method: :patch) do |f| %>
            <%= f.hidden_field :status, value: 'rejected' %>
            <%= f.submit "Reject", class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
