<div class="container mt-5">
  <h1>ADMIN DASHBOARD</h1>
  <div class="mb-4">
    <%= link_to 'Create New User', new_user_path, class: "btn btn-success" %>
    <%= link_to "New Animal", new_animal_path, class: "btn btn-info" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="admin-table-container bg-white p-4">
        <h2 class="text-center">Manage Users</h2>
        <table class="table border border-dark">
          <thead class="bg-dark text-white">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Contact details</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.contact %></td>
                <td>
                  <div class="d-flex justify-content-evenly">
                    <%= link_to "Edit", root_path(user), class: "btn btn-primary" %>
                    <%= button_to "Delete", user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="admin-table-container bg-white p-4">
        <h2 class="text-center">Manage Pets</h2>
        <table class="table border border-dark">
          <thead class="bg-dark text-white">
            <tr>
              <th>Name</th>
              <th>Species</th>
              <th>Owner's Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @pets.each do |pet| %>
              <tr>
                <td><%= pet.name %></td>
                <td><%= pet.species %></td>
                <td><%= pet.user.email %></td>
                <td>
                  <div class="d-flex justify-content-evenly">
                    <%= link_to "Edit", root_path(pet), class: "btn btn-primary" %>
                    <%= button_to "Delete", animal_path(pet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
