<%= render 'banner' %>
<%= render 'banner3' %>
<p style="color: green"><%= notice %></p>

<div class="container mt-4 p-5">
  <h1 class="text-center">  
    <%= link_to "Pets Available for Adoption >", animals_path, class: "text-decoration-none home-text" %>
  </h1>
  <div class="row">
    <% @animals.each_with_index do |animal, index| %>
      <% if index < 4 %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%= link_to animal_path(animal), class: "text-decoration-none text-dark" do %>
            <div class="container-wrapper">
              <div class="rounded mt-4 tryme ">
                <div id="<%= dom_id animal %>">
                  <div class="img-container">
                    <% if !animal.image.present? %>
                      <%= image_tag("dog.jpg", class: "image") %>
                    <% else %>
                      <%= image_tag(animal.image, class: "image") %>
                    <% end %>
                  </div>
                  <div class="p-2 cont">
                    <h3 class="d-flex justify-content-center">
                      <%= animal.name %>
                    </h3>
                    <div class="d-flex justify-content-around">
                      <p>
                        <%= animal.breed %>
                      </p>
                      <p>
                        <%= animal.age %> mos
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'banner2' %>
